.container
  width: 390px
  height: 600px
  overflow: auto
  background: white

.Diagram
    display: grid
    grid-template-rows: 1fr 150px 150px 150px 1fr
    align-items: center
    transform-origin: 0% 0%
    width: 100%
    height: 100%
    position: relative
    top: 0
    left: 0
    z-index: 10

.parent
    display: grid
    justify-content: center
    grid-auto-flow: column
    margin-top: 3px
    grid-row: 2
    grid-auto-columns: 200px

.siblings
    display: grid
    justify-content: center
    grid-auto-flow: column
    grid-template-row: 10px 1fr
    grid-row: 3
    .line
        display: flex
        grid-row: 1
        margin: auto
        margin-bottom: 25px
        width: calc( 100% - 200px  )
        height: 2px 
        background: #c6c6c6
    .users
        display: grid
        grid-row: 2
        justify-content: center
        grid-auto-flow: column
        grid-auto-columns: 200px


.childrens
    display: grid
    margin-top: 20px
    justify-content: center
    grid-auto-flow: column
    grid-template-row: 10px 1fr
    grid-row: 4
    .line
        display: flex
        grid-row: 1
        margin: auto
        margin-bottom: 25px
        width: calc( 100% - 200px  )
        height: 2px 
        background: #c6c6c6
    .users
        display: grid
        grid-row: 2
        justify-content: center
        grid-auto-flow: column
        grid-auto-columns: 200px

