.full-section{
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container{
  width: 390px;
  height: 600px;
  overflow: auto;
  background: white;
}